<%- include('partials/header') -%>

  <h1 class="flex justify-left text-[#D32D27] font-bold my-8">Edit Information</h1>
  <div class="flex justify-center">
    <form action="/updateUsers/<%=usersInfo._id%>" method="POST" class="mt-4 mb-4 w-2/3">
      <input type="hidden" name="_method" value="PUT">
      <label class="text-left text-[#D32D27] font-mono mt-4">Email</label><br>
      <input class="w-full mt-4 mb-4 rounded-lg p-2 text-gray-400" type="text" name="users[email]" value="<%=usersInfo.email%>" readonly><br>
     
      <label class="text-[#D32D27] font-mono" for="fname">Venmo Account</label><br>
      <input class="w-full mt-4 mb-4 rounded-lg p-2" type="text" name="users[venmoUser]" placeholder="@venmo_User"
            value="<%=usersInfo.venmoUser%>"><br>

      <label class="text-[#D32D27] font-mono" for="fname">Name</label><br>
      <input class="w-full mt-4 mb-4 rounded-lg p-2" type="text" name="users[nickname]" value="<%=usersInfo.nickname%>"><br>      
      
      <div class="flex justify-center">
        <input class="flex justify-center my-8 w-52 border-2 bg-[#D32D27] mr-4 rounded-lg text-white p-2" type="submit" value="Save">
      </div>
      
    </form>
  </div>

 

<%- include('partials/footer') -%>
